.Batik {
    height: 60vh;
    width: 94%;
    background-image: url(Images/batik\ biru.jpg);
    background-size: cover;
    background-position: center;
    padding: 90px 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.75;
}

.Batik h2 {
    color: #f2fbff;
    padding: 20px 30px;
    border: 10px dotted; #f2fbff;
    font-size: 90px;
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    text-shadow: 
        -2px -2px 0 #000,  /* Top-left */
         2px -2px 0 #000,  /* Top-right */
        -2px  2px 0 #000,  /* Bottom-left */
         2px  2px 0 #000;  /* Bottom-right */
}

.Batik h3 {
    color:#012c5e; background-color: aliceblue;
    padding: 20px;
    position: absolute;
    bottom: 10%;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*bagian navbar - home page atas*/
header {
    background-color: #361b23; 
    padding: 10px 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo a {
    font-size: 1.8em;
    font-weight: bold;
    color: #cce0e9;
    text-decoration: none;
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: #cce0e9;
    font-size: 1.1em;
    font-family: "Averia Serif Libre", serif;
    font-weight: 700;
    font-style: normal; 
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #cce0e9;
    font-family: "Averia Serif Libre", serif;
    font-weight: 700;
    font-style: normal; 
    font-size: 1.1em;
}

.search-button button {
    background-color: #4589b5;
    color: #e8eff3;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
}

.search-button button:hover {
    background-color: #a9c2d1;
}
 
.outline p {
    text-align: center;
    color: #361b23;
    padding: 10px;
    outline-style: dotted;
    outline-color: #361b23;
    outline-width: 5px;
    outline-offset: 3px;
    background-color: #cce0e9;
    font-family: "Averia Serif Libre", serif;
    font-weight: 700;
    font-style: normal; 
    font-size: 40px;
}
/*box-model*/
.bubble-box {
    position: relative;
    padding: 30px;
    border: 8px solid #361b23;
    margin: 20px auto; 
    border-radius: 12px;
    overflow: hidden;
    background-color: #cce0e9;
    width: 1100px;
    font-family: "Yusei Magic", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;     
  }

  a:hover {
    color: #004499;
    text-decoration: underline;
}

  /* list-batik*/
.container-batik {
    display: flex;
    padding: 10px;
    margin-left: 10px;
}

.content-batik {
    line-height: 1,5;
    padding: 10px;
}

.content-batik p { 
    text-align: justify;
    line-height: 1.2;
    font-size: 16px;
    font-family: "Yusei Magic", sans-serif;
    text-align: center;
    padding-bottom: 10px;
}

dl.a {
    list-style:disc;
    background: #cce0e9;
    padding: 20px;
    line-height: 1.8;
    margin-inline-start: 10px;
    float: left;
    width: 50%;
}

dl {
    margin-bottom: 5px;
}

dl dt {
    background: #361b23;
    color: #ffffff;
    margin: 10px;
    font-size: 20px;
    font-family: "Yusei Magic", sans-serif;
    padding: 5px;
    text-align: center;
}

dl dd {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 40px;
    margin-right: 10px;
    padding: 2px;
    text-align: justify;
    font-size: 15px;
    font-family: "Yusei Magic", sans-serif;
    line-height: 1.5;
}

dl li {
    margin-bottom: 5px;
    margin-left: 5%;
    font-size: 15px;
    text-align: justify;
    font-family: "Yusei Magic", sans-serif;
    opacity: 80%;
}

/* Mengatur gaya untuk heading 2 khusus */
.custom-heading {
    font-family: "Averia Serif Libre", serif;
    font-weight: 700;
    font-style: normal; 
    font-size: 40px;
    color: #361b23;
    text-align: center;
    margin-top: 20px;
}

.tabel {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.tabel th,.tabel td {
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    font-size: 15px;
    font-family: "Yusei Magic", sans-serif;
}

.tabel th {
    background-color: #cce0e9;
    color: black;
    font-weight: bold;
    font-family: "Averia Serif Libre", serif;
    font-weight: 700;
    font-style: normal; 
    font-size: 20px;
}

.tabel tr:nth-child(even) {
    background-color: white;
    font-size: 10px;
    font-family: "Yusei Magic", sans-serif;
}

.tabel tr:hover {
    font-size: 10px;
    font-family: "Yusei Magic", sans-serif;   
}

/*footer dan icons*/
/* Gaya umum untuk footer */
footer {
    background-color: #361b23;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: "Agbalumo", system-ui;
}

/* Kontainer ikon media sosial */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

/* Gaya umum untuk ikon */
.icon {
    color: #fff;
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

/* Gaya ikon Youtube */
.icon.youtube:hover {
    background-color: #b30b0b;
    color: #fff;
}

/* Gaya ikon Instagram */
.icon.instagram:hover {
    background-color: #e4405f;
    color: #fff;
}
